/* Estilo general del footer */
.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 4rem rem;
  font-family: 'Poppins', sans-serif;
  border-top: 2px solid #ff2e63;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.5);
  width: 100%;
  align-items: center;
}

/* Contenedor principal del footer */
.footer-container {
  display: flex;
  flex-wrap: wrap; /* Permite que las columnas se ajusten en pantallas pequeñas */
  justify-content: space-between; /* Espacio entre columnas */
  align-items: flex-start; /* Alineación vertical */
  max-width: 1200px;
  margin: 0 auto;
  gap: 3rem; /* Espacio entre columnas */
  padding: 2rem 0;
}

/* Columnas del footer */
.footer-column {
  flex: 1;
  min-width: 280px; /* Asegura que las columnas tengan un ancho mínimo */
  text-align: center;
}

/* Estilo del título */
.footer-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ff2e63;
  margin-bottom: 1rem;
}

/* Redes sociales */
.footer-social {
  display: flex;
  justify-content: center;
  gap: 1.5rem; /* Espacio entre iconos */
  margin-top: 0.5rem;
}

/* Iconos sociales */
.footer-social a {
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #ff8c00;
}

/* Copyright */
.footer-copyright {
  font-size: 0.9rem;
  margin-top: 2rem;
  text-align: center;
  width: 100%; /* Ocupa todo el ancho del footer */
  color: #777;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
  .footer-container {
      flex-direction: column; /* Apilar las columnas verticalmente */
      align-items: center;
  }

  .footer-column {
      text-align: center;
  }

  .footer-social {
      justify-content: center; /* Centrar los iconos en pantallas pequeñas */
  }
}
